html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  background: rgb(214,254,255);
  background: linear-gradient(180deg, rgb(214, 255, 243) 0%, rgb(255, 255, 255) 100%);
  left: 50%;
  top: 50%;
  padding-top: 25px;
  position: absolute;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;

  @media (min-width: 768px) {
    padding-top: 50px;
  }
  
  @media (min-width: 1024px) {
    padding-top: 0;
  }

  @media (min-width: 1024px)
  and (min-height: 1366px) {
    padding-top: 75px;
  }
}

.science {
  .quiz {
    background-color: rgba(71, 216, 216, .5);
    border-radius: 20px;
    min-height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 90%;

    @media (min-width: 1024px) {
      min-height: 90%;
      width: 95%;
    }
    
    @media (min-width: 1280px) {
      min-height: 95%;
      width: 95%;
    }
    
    @media (min-width: 1680px) {
      min-height: 80%;
      width: 70%;
    }

    &--header {
      border-bottom: 1px solid rgb(0, 0, 0);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      display: flex;
      width: 100%;

      &_text,
      &_score {
        font-size: 16px;
        margin: 0;
        padding: 25px 30px;
        width: 50%;

        @media (min-width: 375px) {
          padding: 35px 30px;
        }

        @media (min-width: 768px) {
          font-size: 24px;
          padding: 50px 30px;
        }

        @media (min-width: 1280px) {
          padding: 50px 30px;
        }
      }

      &_text {
        text-align: left;

        @media (min-width: 768px) {
          width: 75%;
        }
      }
      
      &_score {
        text-align: right;

        @media (min-width: 768px) {
          width: 25%;
        }
      }
    }
    
    &--body {
      padding: 0;
      text-align: center;

      @media (min-width: 768px) {
        // padding: 0 345px 50px;
      }

      &_progress {      
        display: flex;
        justify-content: space-evenly;
        margin: auto;
        width: 50%;

        @media (min-width: 768px) {
          width: 30%;
        }
        
        @media (min-width: 1680px) {
          width: 20%;
        }

        &-step {
          border-bottom: thin solid rgb(0, 0, 0);
          border-left: thin solid rgb(0, 0, 0);
          font-size: 12px;
          padding: 7px;
          width: 20%;

          @media (min-width: 768px) {
            padding: 10px;
          }
          
          @media (min-width: 1280px) {
            font-size: 14px;
            padding: 15px;
          }

          @media (min-width: 1680px) {
            font-size: 12px;
            padding: 10px;
          }

          &[aria-current='true'] {
            background-color: rgba(255, 255, 255, .5);
          }

          &:last-child {
            border-right: thin solid rgb(0, 0, 0);
          }
        }
      }

      &_question {      
        font-size: 21px;
        line-height: 1.5;
        margin: 0;
        padding: 30px 20px;
        text-align: center;
        min-height: 100px;
        // border: thin solid red;

        @media (min-width: 375px) {
          font-size: 28px;
          padding: 30px 25px;
        }

        @media (min-width: 768px) {
          font-size: 48px;
          margin: 50px 0;
          padding: 30px 35px;
          min-height: 120px;
        }

        @media (min-width: 1024px) {
          margin: 20px 0;
          padding: 30px 175px;
        }

        @media (min-width: 1280px) {
          padding: 40px 280px;
          font-size: 55px;
        }
        
        @media (min-width: 1440px) {
          font-size: 60px;
          padding: 40px 330px;
        }

        @media (min-width: 1680px) {
          font-size: 48px;
          padding: 40px 300px;
        }
      }
      
      &_button {   
        background: none;   
        border: thin solid rgb(0, 0, 0);
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2px;
        margin: 5px;
        padding: 20px 0;
        transition: all .25s ease-out;
        width: 200px;

        &:hover {
          background-color: rgba(255, 255, 255, .5);
        }

        @media (min-width: 320px) {
          width: 250px;
        }

        @media (min-width: 768px) {
          padding: 30px 0;
        }
        
        @media (min-width: 1024px) {
          padding: 35px 0;
          width: 350px;
        }
        
        @media (min-width: 1280px) {
          font-size: 20px;
          padding: 40px 0;
          width: 450px;
        }
        
        @media (min-width: 1440px) {          
          padding: 40px 0;
        }

        @media (min-width: 1680px) {
          padding: 30px 0;
          width: 400px;
        }
      }
    }
  }
}